POSTGRES_DB=mydb
POSTGRES_USER=mydbs
POSTGRES_PASSWORD=p@ssw0rd
PGADMIN_DEFAULT_EMAIL=dummyemail@dummy.org 
PGADMIN_DEFAULT_PASSWORD=d3fault_p@ssw0rd
PGADMIN_LISTEN_ADDRESS=[::] 
PPGADMIN_LISTEN_PORT=80